In [1]:
import pandas as pd
import numpy as np
import nltk
import os
import nltk.corpus
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Joseph\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Joseph\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Joseph\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Joseph\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\Joseph\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\Joseph\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

True

# Limpieza de la dataset True

In [87]:
true_df = pd.read_csv("True.csv", encoding ="utf-8")

In [88]:
print(true_df.shape)

(21417, 4)

In [89]:
print(true_df.head())

<bound method NDFrame.head of                                                    title  \
0      As U.S. budget fight looms, Republicans flip t...
1      U.S. military to accept transgender recruits o...
2      Senior U.S. Republican senator: 'Let Mr. Muell...
3      FBI Russia probe helped by Australian diplomat...
4      Trump wants Postal Service to charge 'much mor...
...                                                  ...
21412  'Fully committed' NATO backs new U.S. approach...
21413  LexisNexis withdrew two products from Chinese ...
21414  Minsk cultural hub becomes haven from authorities
21415  Vatican upbeat on possibility of Pope Francis ...
21416  Indonesia to buy $1.14 billion worth of Russia...

                                                    text       subject  \
0      WASHINGTON (Reuters) - The head of a conservat...  politicsNews
1      WASHINGTON (Reuters) - Transgender people will...  politicsNews
2      WASHINGTON (Reuters) - The special counsel inv...  politicsNews
3      WASHINGTON (Reuters) - Trump campaign adviser ...  politicsNews
4      SEATTLE/WASHINGTON (Reuters) - President Donal...  politicsNews
...                                                  ...           ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...     worldnews
21413  LONDON (Reuters) - LexisNexis, a provider of l...     worldnews
21414  MINSK (Reuters) - In the shadow of disused Sov...     worldnews
21415  MOSCOW (Reuters) - Vatican Secretary of State ...     worldnews
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...     worldnews

                     date
0      December 31, 2017
1      December 29, 2017
2      December 31, 2017
3      December 30, 2017
4      December 29, 2017
...                   ...
21412    August 22, 2017
21413    August 22, 2017
21414    August 22, 2017
21415    August 22, 2017
21416    August 22, 2017

[21417 rows x 4 columns]>

In [90]:
true_df.drop_duplicates(inplace=True)

In [91]:
true_df.dropna(inplace=True)

In [92]:
duplicates = true_df.duplicated().sum()
print("Numero de filas duplicadas:", duplicates)

Numero de filas duplicadas: 0

In [93]:
valores_nulos_por_columna = true_df.isnull().sum()
print("Valores nulos por columna:\n", valores_nulos_por_columna)

Valores nulos por columna:
 title      0
text       0
subject    0
date       0
dtype: int64

# Limpieza de la dataset de Fake

In [94]:
fake_df = pd.read_csv("True.csv", encoding ="utf-8")

In [95]:
print(fake_df.shape)

(21417, 4)

In [96]:
print(fake_df.head())

<bound method NDFrame.head of                                                    title  \
0      As U.S. budget fight looms, Republicans flip t...
1      U.S. military to accept transgender recruits o...
2      Senior U.S. Republican senator: 'Let Mr. Muell...
3      FBI Russia probe helped by Australian diplomat...
4      Trump wants Postal Service to charge 'much mor...
...                                                  ...
21412  'Fully committed' NATO backs new U.S. approach...
21413  LexisNexis withdrew two products from Chinese ...
21414  Minsk cultural hub becomes haven from authorities
21415  Vatican upbeat on possibility of Pope Francis ...
21416  Indonesia to buy $1.14 billion worth of Russia...

                                                    text       subject  \
0      WASHINGTON (Reuters) - The head of a conservat...  politicsNews
1      WASHINGTON (Reuters) - Transgender people will...  politicsNews
2      WASHINGTON (Reuters) - The special counsel inv...  politicsNews
3      WASHINGTON (Reuters) - Trump campaign adviser ...  politicsNews
4      SEATTLE/WASHINGTON (Reuters) - President Donal...  politicsNews
...                                                  ...           ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...     worldnews
21413  LONDON (Reuters) - LexisNexis, a provider of l...     worldnews
21414  MINSK (Reuters) - In the shadow of disused Sov...     worldnews
21415  MOSCOW (Reuters) - Vatican Secretary of State ...     worldnews
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...     worldnews

                     date
0      December 31, 2017
1      December 29, 2017
2      December 31, 2017
3      December 30, 2017
4      December 29, 2017
...                   ...
21412    August 22, 2017
21413    August 22, 2017
21414    August 22, 2017
21415    August 22, 2017
21416    August 22, 2017

[21417 rows x 4 columns]>

In [97]:
fake_df.drop_duplicates(inplace=True)

In [98]:
fake_df.dropna(inplace=True)

In [99]:
fake_df_duplicates = fake_df.duplicated().sum()
print("Numero de filas duplicadas:", fake_df_duplicates)

Numero de filas duplicadas: 0

In [100]:
valores_nulos_por_columna_fake = fake_df.isnull().sum()
print("Valores nulos por columna:\n", valores_nulos_por_columna_fake)

Valores nulos por columna:
 title      0
text       0
subject    0
date       0
dtype: int64

Preprocesamiento de ambos datasets

In [12]:
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

def clean_text(text):
    text = re.sub(r"[^\w\s]", "", text)  
    text = text.lower() 
    tokens = word_tokenize(text)
    tokens = [word for word in tokens if word.isalpha()]  
    stop_words = set(stopwords.words('english'))  
    tokens = [word for word in tokens if word not in stop_words]
    lemmatizer = nltk.stem.WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]
    preprocessed_text = " ".join(tokens)
    return preprocessed_text

In [5]:

fake_df['title'] = fake_df['title'].apply(clean_text)
fake_df['text'] = fake_df['text'].apply(clean_text)
true_df['title'] = true_df['title'].apply(clean_text)
true_df['text'] = true_df['text'].apply(clean_text)

In [103]:
fake_df['label'] = 'fake'
true_df['label'] = 'true'

# Concatenar los conjuntos de datos
combined_df = pd.concat([fake_df, true_df], ignore_index=True)

# Mezclar las filas del conjunto de datos combinado
combined_df = combined_df.sample(frac=1, random_state=42).reset_index(drop=True)

In [102]:
from sklearn.model_selection import train_test_split

# Dividir el conjunto de datos falso en entrenamiento y prueba
fake_train, fake_test = train_test_split(fake_df, test_size=0.2, random_state=42)

# Dividir el conjunto de datos verdadero en entrenamiento y prueba
true_train, true_test = train_test_split(true_df, test_size=0.2, random_state=42)

In [ ]:
combined_df.to_csv('combined_dataset.csv', index=False)

Los conjuntos de datos fake y true se dividieron en conjuntos de entrenamiento (80%) y prueba (20%)

In [2]:
combined_df = pd.read_csv('combined_dataset.csv')

In [3]:
combined_df.head()

,title,text,subject,date,label
0,allowing nuclear weapons japan could defuse no...,tokyo reuters japan looks quick resolute respo...,worldnews,"September 6, 2017",true
1,mccain illness deprives senate crucial vote tr...,washington reuters john mccains illness requir...,politicsNews,"July 20, 2017",fake
2,trump nominate excongressman green lead us aid...,washington reuters president donald trump nomi...,politicsNews,"May 10, 2017",true
3,syria calls un security council condemn israel...,beirut reuters syria foreign ministry thursday...,worldnews,"November 2, 2017",true
4,trump weighed sons russia attorney statement w...,washington reuters white house said tuesday us...,politicsNews,"August 1, 2017",fake

In [6]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import string

In [30]:
def encode_text(texts,encoding_type='one-hot'):

    vectorizer = None
    if encoding_type == 'one-hot':
        vectorizer = CountVectorizer(binary=True)
    elif encoding_type == 'tf':
        vectorizer = CountVectorizer()
    elif encoding_type == 'tfidf':
        vectorizer = TfidfVectorizer()
    
    encode_text = vectorizer.fit_transform(texts)
    return encode_text, vectorizer

In [20]:
combined_df['text'] = combined_df['text'].apply(clean_text)

In [21]:
combined_df['title'] = combined_df['title'].apply(clean_text)

In [35]:
combined_df.to_csv('combined_dataset_lematized.csv', index=False)

In [24]:
def split_data(df, test_size=0.2, random_state=42):
    train_df, test_df = train_test_split(df, test_size=test_size, random_state=random_state)
    train_df, val_df = train_test_split(train_df, test_size=test_size, random_state=random_state)
    return train_df, val_df, test_df

In [ ]:
train_df, val_df, test_df = split_data(combined_df)

In [31]:
X_1, text_vectorizer_one_hot = encode_text(combined_df['text'], 'one-hot')
X_1, title_vectorizer_one_hot = encode_text(combined_df['title'], 'one-hot')

In [33]:
X2, text_vectorizer_tf = encode_text(combined_df['text'], 'tf')
X2, title_vectorizer_tf = encode_text(combined_df['title'], 'tf')

In [34]:
X3, text_vectorizer_tfidf = encode_text(combined_df['text'], 'tfidf')
X3, title_vectorizer_tfidf = encode_text(combined_df['title'], 'tfidf')